<?xml version="1.0"?>
<configuration>
 
  <!--<security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2000000000" />
    </requestFiltering>
  </security>-->
  
  <connectionStrings>
    <add name="OMSIString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\omsi.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMSIConnectionString" connectionString="Data Source=UMANG;Initial Catalog=OMSI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMSI" connectionString="Data Source=UMANG;Initial Catalog=OMSI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMSI1" connectionString="Data Source=UMANG;Initial Catalog=OMSI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMSI2" connectionString="Data Source=UMANG;Initial Catalog=OMSI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMSIConnectionString2" connectionString="Data Source=LENOVO\SQL2008;Initial Catalog=OMSI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMSIConnectionString3" connectionString="Data Source=PRATIX\SQL2008;Initial Catalog=OMSI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
   
    <httpRuntime maxRequestLength="2000000000" executionTimeout="999999"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>


    <authentication mode="Forms">
      <forms loginUrl ="~/Index.aspx" slidingExpiration="false" cookieless="AutoDetect" timeout="20" protection="All" enableCrossAppRedirects="false" defaultUrl="~/Index.aspx"></forms>
    </authentication>
    
  </system.web>
</configuration>